* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 20px;
    align-items: center;
    background-color: rgb(0, 32, 73);
    position: fixed;
    width: 100%;
    top: 0;
    overflow-y:hidden;
}

.logo {
    font-family: "Lexend", sans-serif;
    margin-left: 20px;
    font-size:30px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(206, 206, 206);
}

body {
    /* background-color:  rgb(0, 34, 78); */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 74, 170));
    color: white;
    font-family: robo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", "sans-serif";
}

.container {
    /* background-image: linear-gradient(to bottom, rgb(0, 52, 119),rgb(0, 92, 212)); */

    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    /* box-shadow: 1px 1px 8px 1px #535353 ;*/
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

input {
    flex: 1;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(206, 227, 255);
    color: black;
}

button {
    width: 25%;
    padding: 5px 10px;
    background-color: rgb(71, 132, 212);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;

}

button:hover {
    background-color: rgb(44, 115, 209);
}

.hidden {
    display: none;
}

#error-message {
    color: rgb(255, 88, 88);
    margin-top: 20px;
}

#cityName {
    font-weight: bold;
    margin-bottom: 10px;
}

#desc {
    font-size: 14px;
    color: rgb(243, 243, 243);
    margin-top: 20px;
}

#weather {
    font-size: xx-large;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 13, 31);
    text-align: center;
    height: 35px;
    font-size: 13px;
}

@media (max-width:768px) {
   nav{
    flex-direction: column;
    gap: 10px;
   }
}